<div class="topic-show">
  <div class="topic-title">
    <div class="title">
      <h1>
      <%= @topic.title %>
      <% if @topic&.hp_url %>
      (<i class="fas fa-home icon"></i>
      <%= link_to("ホームページはこちら", @topic.hp_url) %>)
      <% end %>
      </h1>
      <hr>
      <% if @topic.user_id == @current_user.id %>
      <p>
        <%= link_to("編集", "/topics/#{@topic.id}/edit") %>
      </p>
    <% end %>
    </div>
    
    <div class="topic-img">
    <i class="fas fa-images icon"></i>
      <img src="<%= "/topic_images/#{@topic.topic_image_name}" %>" width="700px" >
    </div>
    <hr>
    <% if @topic&.twitter %>
    <div class="twitter-url">
    <i class="fab fa-twitter-square"></i>
      <a class="twitter-timeline" href="https://twitter.com/<%= @topic.twitter%>?ref_src=twsrc%5Etfw" width="700px" height="600px">Tweets by <%= @topic.twitter %></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <% end %>
    <hr>
    <% if @topic&.youtube_url %>
    <i class="fab fa-youtube"></i>
    <div class="topic-youtube">
      
      <iframe width="700" height="395" src="https://www.youtube.com/embed/<%= @topic.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    </div>
    <% end %>
    <div class ="post-comment">
      <div class="topic-create">
        <%= form_with model:@post, url:("/posts/create") do |f| %>
        <div class="form">
          <div class="form-body">
            <%= f.text_area :content %>
            <%= f.file_field :image %>
            <%= f.hidden_field :topic_id, value: @topic.id %>
            <%= f.submit  value: "登録" %>
          </div>
        </div>
      <% end %>
      </div>
  
      <div class="topic-post">
        <% @posts.each do |post| %>
        
        <ul>
        <li>
          <h2>
          :  <%= post.content %>
          </h2>
        </li>
        <li>
          <p>
          <%= link_to(post.user.name, "/users/#{post.user_id}") %>
          </p>
        </li>
        <li>
          <% if post.user_id == @current_user.id %>
          <div class="post-menus">
            <p>
            <%= link_to("編集", "/posts/#{post.id}/edit") %>
            </p>
          </div>
      
          <% end %>
        </li>
        <li>
        <% if post.post_image_name != nil %>
        <img src="<%= "/post_images/#{post.post_image_name}" %>" width="300px" >
        <% end %>
        </li>
        </ul>
        <hr size="5" >

        <% end %>
      </div>
    </div>
  </div>

  <div class="another">
  <% @topics.each do |topic| %>
      
    <div class="topics-item">
      <div class="topics-img">
      <%= link_to image_tag("/topic_images/#{topic.topic_image_name}",width: 200), "/topics/#{topic.id}"  %>
      </div>
      <div class="topic-name">
        <p>
        <%= link_to(topic.title, "/topics/#{topic.id}") %>
        </p>
      </div>
    </div>
  <% end %>
  </div>
  
</div>