<div class="posts-edit">
  <div class="container">
    <div class="edit-heading">  
      <h1>編集する</h1>
    </div>

    

    <%= form_with  url:("/posts/#{@post.id}/update") do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_area :content, value: @post.content %>
          <%= f.file_field :image %>
          <%= f.submit  value: "更新" %>
        </div>
      </div>
    <% end %>
    <div class="delete">
      <%= link_to("削除", "/posts/#{@post.id}/destroy", {method:"post"}) %>
    </div>
  </div>
</div>